# ==========================================
# 1. Python & Sanal Ortam (VirtualEnv)
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/

# ==========================================
# 2. PyCharm / IDE Ayarları
# ==========================================
.idea/
.vscode/

# ==========================================
# 3. Ağır Model Ağırlıkları & Veri Setleri
# (ONNX modeli depoda kalsın diye hariç tutuldu)
# ==========================================
*.pt
*.engine
*.pth
*.tar.xz
*.zip
src/ai_engine/data/*
!src/ai_engine/data/TILE -Instance Segmentation-.v1i.yolov11/test/images/

# ==========================================
# 4. C# / Visual Studio Derleme Kalıntıları
# ==========================================
**/bin/
**/obj/
.vs/
*.user
*.suo
*.userosv
*.userprefs
*.csproj.user

# ==========================================
# 5. Log & İşletim Sistemi Dosyaları
# ==========================================
*.log
.DS_Store
Thumbs.db